@charset "ISO-8859-1";
.topnav {
    background-color: #00246B; /* dark background color */
    overflow: hidden; /* Ensure all content fits within the container */
}

/* Sticky positioning for the navigation bar */
.topnav .sticky {
    position: sticky;
    top: 0; /* Stick to the top of the viewport */
    z-index: 1000; /* Ensure the navigation bar is above other content */
}

/* Style for the links in the navigation bar */
.topnav a {
    float: left; /* Float links to the left */
    display: block; /* Display links as block elements */
    margin-left:20px;
    color: #ffffff; /* Text color */
    text-align: center; /* Center align text */
    padding: 14px 20px; /* Padding inside links */
    text-decoration: none; /* Remove underline from links */
    font-size: 20px; /* Font size */
}

/* Change color of links on hover */
.topnav a:hover {
   /* background-color: #ffffff;  Darken background color on hover */
    text-align: center;
    margin-left: 50px;
}

/* Style for the center-aligned heading */
.topnav h1 {
    color:#ffffff; /* Text color */
    text-align: center; /* Center align text */
    padding: 14px 20px; /* Padding inside heading */
    margin: 0; /* Remove default margin */
}

/* Style for icons within links */
.topnav i {
    margin-left: 5px; /* Add margin to the left of icons */
}
body
{
	 background-color: #CADCFC;
}
.search-container
{
	float:right;
	color: white;
	margin-right: 2.5%;
	margin-bottom: 1.5%;
}

.footer {
    background-color: #00246B; /* Dark background color */
    color: #ffffff; /* Text color */
    text-align: center; /* Center align text */
    padding: 10px 0; /* Padding top and bottom */
    position: fixed; /* Fixed position at the bottom */
    width: 100%; /* Full width */
    margin-bottom:5px;
    margin-right:15px;
    bottom: 0; /* Stick to the bottom of the viewport */
}

.footer p {
    margin: 0; /* Remove default margin for <p> */
    font-size: 14px; /* Adjust font size */
}